menu "homepost configuration"

    menu "BT Options"
        config HOMEPOST_BT_DEV_NAME
            string "BT device name"
            default "homepost"

        config HOMEPOST_BT_INQ_LEN
            int "BT inquiry length"
            default 30

        config HOMEPOST_PRINT_BLE_DEVICE_NAME
            bool "Print BLE device name"
            default n
    endmenu

    menu "Scanner Options"

        config HOMEPOST_SCAN_USE_RSSI_FILTER
            bool "Use RSSI filter"
            default n

        config HOMEPOST_SCAN_RSSI_THRESHOLD
            int "RSSI threshold"
            default -90
            depends on HOMEPOST_SCAN_USE_RSSI_FILTER

        config HOMEPOST_SCAN_MAJOR_FILTER
            int "Major filter"
            default 100

        config HOMEPOST_SCAN_MINOR_FILTER
            int "Minor filter"
            default 40004
    endmenu

    menu "Storage Configuration"
        config HOMEPOST_WIFI_CREDENTIALS_STORAGE_KEY
            string "WiFi Credentials Storage Key"
            default "wifi_crds"
            help
                Key used to store the WiFi credentials in the NVS storage.
    endmenu
endmenu