name: Build a project

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: self-hosted

    env:
      CONTAINER_NAME: homepost_container

    steps:
    - name: Clean workspace
      run: sudo rm -rf ${{ github.workspace }}/* || true
      
    - name: Checkout repo
      uses: actions/checkout@v2
      with:
        submodules: 'recursive'

    - name: Remove old container
      run: docker rm ${{ env.CONTAINER_NAME }} || true

    - name: esp-idf build
      uses: espressif/esp-idf-ci-action@v1
      with:
        esp_idf_version: v5.5.1
        target: esp32
        path: '.'
        extra_docker_args: --rm --name ${{ env.CONTAINER_NAME }}
